

body {
  background-color: #f2edd7
    }

hr {
  border-style:dotted none none;

  border-spacing:60px;
  border-width: 10px;
  color:red;
  width:5%;

  }
h1 {
  color: #e84545;
}

h3{
color: #e84545;
}
